/* GLOBAL */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, span, pre, strong, a, input, button{
	font-family: 'Roboto', sans-serif;
}
h2{
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
}
.title{
	margin-top: 70px;
	display: flex;
	align-items: center;
	color: #293845;
	box-sizing: border-box;
	padding-top: 40px;
	padding-bottom: 40px;
	justify-content: center;
}
.title h1{
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}
.container{
	width: 100%;
	box-sizing: border-box;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 170px;
}
.pt-20{
	padding-top: 20px;
}
.pb-20{
	padding-bottom: 20px;
}
.ml-10{
	margin-left: 10px;
}


.loading{
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}